@import 'variables';

.car-list{
    width: 80vw;
    margin: 15vh auto;
    h2{
        font-size: 30px;
        font-weight: 600;
        color: $black;
        padding-bottom: 20px;
    }
    hr{
        border: 0;
        height: 0;
        border-top: 2px solid $light-grey;
    }
    .title{
        margin: auto;
        margin-top: 10vh;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        font-size: 14px;
        color: $grey;
        font-weight: 600;
        .title-detail{
            justify-self: center;
            grid-column: 1/6;
        }
        .title-rent{
            grid-column: 6/8;
            justify-self: start;

            
        }
        @media only screen and (max-width: 500px){
            display: none;
        }
    }
}