@import 'variables';

.car-booking-form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../imgs/background.png');
    background-size: cover;

    @media only screen and (max-width: 930px){
        background-image: none;
    }
    .car-booking-form{
        width: 50vw;
        margin-left: 40vw;

        @media only screen and (max-width: 1300px){
            width: 40vw;
            margin-left: 50vw;
        }

        @media only screen and (max-width: 930px){
            width: 80vw;
            margin: auto;
        }
        .heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            h1{
                font-size: 25px;
                font-weight: 600;
            }
            img{
                height: 50px;
            }
        }
        form{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 40px;
            margin-top: 10vh;
            .input-container{
                margin: 20px 0;
                label{
                    display: block;
                    font-size: 15px;
                    font-weight: 600;
                }
                input{
                    font-size: 15px;
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid $light-grey;
                    padding: 5px 0;
                    background-color: none;

                    &:focus{
                        outline: none;
                        border-bottom: 2px solid $light-green;
                    }
                }
                .error{
                    color: $red;
                    padding-top: 5px;
                    font-size: 12px;
                }
            }
            .form-buttons{
                grid-column: 1/3;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                .back{
                    font-size: 15px;
                    font-weight: 600;
                    padding: 0 20px;
                    background-color: $white;
                    border: none;
                    outline: none;

                    &:focus{
                        outline: none;
                    }
                }
                .submit{
                    font-size: 15px;
                    font-weight: 600;
                    padding: 10px 20px;
                    color: $white;
                    background-color: $black;
                    border-radius: 5px;
                    outline: none;
                    border: none;

                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .already-booked{
            margin: 20vh 0;
            text-align: center;
        }
    }
}
.ReactModalPortal{
    .ReactModal__Content{
        display: flex;
        align-items: center;
        .modal-content-container{
            margin-left: 40%;

            @media only screen and (max-width: 500px){
                margin: auto;
            }
            h3{
                color: $black;
                font-size: 30px;
                padding : 10px 0;

                @media only screen and (max-width: 1150px){
                    font-size: 25px;
                }
                
            }
            p{
                padding : 10px 0;
                font-size: 15px;

                @media only screen and (max-width: 1150px){
                    font-size: 13px;
                }
            }
            span{
                font-weight: 600;
            }
        }
        a{
            position: absolute;
            bottom: 30px;
            right: 30px;
            color: $black;
            font-weight: 600;
            text-decoration: none;
        }
        @media only screen and (max-width: 1300px){
            width: 50vw;
        }

        @media only screen and (max-width: 900px){
            width: 70vw;
        }

        @media only screen and (max-width: 500px){
            width: 80vw;
            background: $white;
        }
    }
}