@import 'variables';

.book-button-container{
    height: 30px;


    @media only screen and (max-width: 500px){
        margin: 20px 0;
    }

    .book-now{
        color: white;
        font-size: 15px;
        width: 100px;
        height: 30px;
        line-height: 30px;
        outline: none;
        border: none;
        border-radius: 2px;
        background-color: $black;

        &:disabled{
            background: $light-grey;
        }
        &:hover{
            cursor: pointer;
        }
        @media only screen and (max-width: 1300px){
            width: 70px;
            font-size: 12px;
        }

        @media only screen and (max-width: 500px){
            width: 100px;
            font-size: 15px;
        }

    }
    .currently-unavailable{
        margin-top: 5px;
        font-size: 10px;
        color: $red;
    }
}